<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stl.project.dao.RookieDao">
    <select id="rookieXiadan" resultType="com.stl.project.entity.Rookie">
        INSERT INTO mycat_waybillno.t_mat_rookie_wb_use_order_w
        (
            WAYBILL_NO,
            BIZ_ID,
            COMPANY_CODE,
            BRANCH_CODE,
            BRANCH_NAME,
            SELLER_ID,
            CONSIGNEE_NAME,
            CONSIGNEE_PHONE,
            SEND_PROVINCE_NAME,
            SEND_PROVINCE_CODE,
            SEND_CITY_NAME,
            SEND_CITY_CODE,
            SEND_AREA_NAME,
            SEND_AREA_CODE,
            SEND_TOWN_NAME,
            SEND_TOWN_CODE,
            SEND_DETAIL_ADDRESS,
            CONSIGNEE_PROVINCE_NAME,
            CONSIGNEE_PROVINCE_CODE,
            CONSIGNEE_CITY_NAME,
            CONSIGNEE_CITY_CODE,
            CONSIGNEE_AREA_NAME,
            CONSIGNEE_AREA_CODE,
            CONSIGNEE_TOWN_NAME,
            CONSIGNEE_TOWN_CODE,
            CONSIGNEE_DETAIL_ADDRESS,
            CURTIME,
            STATUS,
            SENDER_PHONE,
            SENDER_NAME,
            DA_TOU_BI,
            WEIGHT,
            VOLUME,
            PRODUCT_TYPE,
            IS_ALIORDER,
            MSG_VERSION,
            SELLER_NAME,
            BIZ_INDEX,
            CONSIGNEE_mobile,
            sender_mobile,
            orderChanel,
            version,
            customerCode,
            empCode,
            back_1,
            back_2,
            materielCode
        )values (
            #{rookie.WAYBILL_NO},
            #{rookie.BIZ_ID},
            'YTO',
            #{rookie.BRANCH_CODE},
            #{rookie.BRANCH_CODE},
            #{rookie.SELLER_ID},
            '李四',
            NULL,
            '上海',
            '021',
            '上海市',
            '310000',
            '青浦区',
            '310118',
            NULL,
            NULL,
            '富强大街1344号',
            '上海',
            '021',
            '上海市',
            '310000',
            '闵行区',
            '310112',
            NULL,
            NULL,
            '七宝镇七宝老街1号',
            #{rookie.CURTIME},
            '2',
            NULL,
            '张三',
            '300',
            NULL,
            NULL,
            'STANDARD_EXPRESS',
            NULL,
            NULL,
            NULL,
            NULL,
            '15921108453',
            '15921108467',
            'TAOBAO',
            '1540204715129',
            #{rookie.customerCode},
            NULL,
            #{rookie.back_1},
            NULL,
            NULL
        )
    </select>
</mapper>