<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myproject.demo.dao.ExpressOpDao">
    <insert id="taking">
        INSERT INTO express.t_exp_op_record_taking (
            id,
            waybill_no,
            exp_type,
            pkg_qty,
            emp_code,
            emp_name,
            business_type_code,
            express_content_code,
            effective_type_code,
            transport_type_code,
            weigh_weight,
            input_weight,
            pkg_length,
            pkg_width,
            pkg_height,
            volume_weight,
            goods,
            air_forbidden,
            fee_flag,
            fee_amt,
            customer_code,
            customer_name,
            pay_type,
            source_org_code,
            des_org_code,
            org_code,
            ie_flag,
            parentchild_flag,
            return_waybill_no,
            parent_waybill_no,
            frequency_no,
            delegate_org_code,
            order_no,
            upload_time,
            op_code,
            aux_op_code,
            route_code,
            aux_route_code,
            status,
            transfer_status,
            create_time,
            create_user_code,
            create_user_name,
            create_org_code,
            create_terminal,
            device_type,
            remark,
            ref_id,
            modify_time,
            modify_user_code,
            modify_user_name,
            modify_org_code,
            modify_terminal,
            trace_status,
            des_prov,
            des_city,
            des_country,
            query_flag,
            org_type,
            error_times,
            sn_no,
            occ_status,
            operate_time,
            data_id,
            error_message
        )
        values (
            #{taking.id},
            #{taking.waybill_no},
            #{taking.exp_type},
            #{taking.pkg_qty},
            #{taking.op_user_code},
            #{taking.op_user_name},
            #{taking.business_type_code},
            #{taking.express_content_code},
            #{taking.effective_type_code},
            NULL,
            '0.000',
            #{taking.input_weight},
            '0.000',
            '0.000',
            '0.000',
            '0.000',
            NULL,
            '0',
            NULL,
            #{taking.fee_amt},
            #{taking.emp_code},
            #{taking.emp_name},
            NULL,
            #{taking.taking_org_code},
            #{taking.des_org_code},
            #{taking.taking_org_code},
            NULL,
            NULL,
            NULL,
            NULL,
            NULL,
            NULL,
            NULL,
            #{taking.upload_time},
            #{taking.op_code},
            #{taking.aux_op_code},
            #{taking.route_code},
            NULL,
            #{taking.status},
            NULL,
            #{taking.create_time},
            #{taking.op_user_code},
            #{taking.op_user_name},
            #{taking.taking_org_code},
            #{taking.create_terminal},
            #{taking.device_type},
            #{taking.remark},
            NULL,
            #{taking.modify_time},
            #{taking.op_user_code},
            #{taking.op_user_name},
            #{taking.taking_org_code},
            #{taking.modify_terminal},
            #{taking.trace_status},
            NULL,
            NULL,
            NULL,
            #{taking.query_flag},
            NULL,
            #{taking.error_times},
            NULL,
            #{taking.occ_status},
            #{taking.operate_time},
            #{taking.data_id},
            NULL
        )
    </insert>
    <insert id="build">
        insert into express.t_exp_op_record_container(
            id,
            waybill_no,
            exp_type,
            pkg_qty,
            express_content_code,
            effective_type_code,
            transport_type_code,
            weigh_weight,
            input_weight,
            pkg_length,
            pkg_width,
            pkg_height,
            volume_weight,
            fee_flag,
            fee_amt,
            source_org_code,
            des_org_code,
            org_code,
            container_no,
            line_no,
            frequency_no,
            previous_org_code,
            next_org_code,
            vehicle_plate_no,
            upload_time,
            op_code,
            aux_op_code,
            route_code,
            aux_route_code,
            status,
            transfer_status,
            create_time,
            create_user_code,
            create_user_name,
            create_org_code,
            create_terminal,
            device_type,
            remark,
            ref_id,
            modify_time,
            modify_user_code,
            modify_user_name,
            modify_org_code,
            modify_terminal,
            trace_status,
            io_type,
            cmp_flag,
            line_frequency_no,
            bill_source_org_code,
            in_out_flag,
            out_time,
            fee_weight,
            pkg_pcs,
            query_flag,
            org_type,
            error_times,
            sn_no,
            occ_status,
            operate_time,
            data_id,
            error_message
        )
        values (
        	#{build.id},
            #{build.waybill_no},
            #{build.exp_type},
            #{build.pkg_qty},
            #{build.express_content_code},
            #{build.effective_type_code},
            NULL,
            '0.000',
            #{build.input_weight},
            '0.000',
            '0.000',
            '0.000',
            '0.000',
            '1',
            '0.00',
            NULL,
            NULL,
            #{build.build_org_code},
            #{build.pkg_no},
            NULL,
            NULL,
            NULL,
            #{build.next_org_code},
            'MOT',
            #{build.upload_time},
            #{build.op_code},
            'NEW',
            #{build.route_code},
            '3',
            #{build.status},
            '0',
            #{build.create_time},
            #{build.op_user_code},
            #{build.op_user_name},
            #{build.build_org_code},
            #{build.create_terminal},
            #{build.device_type},
            NULL,
            NULL,
            #{build.modify_time},
            #{build.op_user_code},
            #{build.op_user_name},
            #{build.build_org_code},
            #{build.modify_terminal},
            #{build.trace_status},
            #{build.io_type},
            '0',
            NULL,
            #{build.source_org_code},
            NULL,
            NULL,
            #{build.fee_weight},
            '0',
            '0',
            #{build.build_org_type},
            '0',
            '798',
            #{build.occ_status},
            #{build.operate_time},
            '694',
            NULL
        )
    </insert>
    <insert id="xiache">
        insert into express.t_exp_op_record_container(
            	id,
                waybill_no,
                exp_type,
                pkg_qty,
                express_content_code,
                effective_type_code,
                transport_type_code,
                weigh_weight,
                input_weight,
                pkg_length,
                pkg_width,
                pkg_height,
                volume_weight,
                fee_flag,
                fee_amt,
                source_org_code,
                des_org_code,
                org_code,
                container_no,
                line_no,
                frequency_no,
                previous_org_code,
                next_org_code,
                vehicle_plate_no,
                upload_time,
                op_code,
                aux_op_code,
                route_code,
                aux_route_code,
                status,
                transfer_status,
                create_time,
                create_user_code,
                create_user_name,
                create_org_code,
                create_terminal,
                device_type,
                remark,
                ref_id,
                modify_time,
                modify_user_code,
                modify_user_name,
                modify_org_code,
                modify_terminal,
                trace_status,
                io_type,
                cmp_flag,
                line_frequency_no,
                bill_source_org_code,
                in_out_flag,
                out_time,
                fee_weight,
                pkg_pcs,
                query_flag,
                org_type,
                error_times,
                sn_no,
                occ_status,
                operate_time,
                data_id,
                error_message
        ) values (
            	#{xiache.i
                #{xiache.waybill_no},
                #{xiache.exp_type},
                #{xiache.pkg_qty},
                #{xiache.express_content_code},
                #{xiache.effective_type_code},
                NULL,
                #{xiache.weigh_weight},
                #{xiache.input_weight},
                #{xiache.pkg_length},
                #{xiache.pkg_width},
                #{xiache.pkg_height},
                #{xiache.volume_weight},
                #{xiache.fee_flag},
                #{xiache.fee_amt},
                #{xiache.source_org_code},
                #{xiache.des_org_code},
                #{xiache.out_org_code},
                #{xiache.car_no},
                NULL,
                NULL,
                #{xiache.previous_org_code},
                #{xiache.next_org_code},
                'MOT',
                #{xiache.upload_time},
                #{xiache.op_code},
                #{xiache.aux_op_code},
                #{xiache.route_code},
                #{xiache.aux_route_code},
                #{xiache.status},
                #{xiache.transfer_status},
                #{xiache.create_time},
                #{xiache.op_user_code},
                #{xiache.op_user_name},
                #{xiache.out_org_code},
                #{xiache.create_terminal},
                #{xiache.device_type},
                #{xiache.remark},
                NULL,
                #{xiache.modify_time},
                #{xiache.op_user_code},
                #{xiache.op_user_name},
                #{xiache.out_org_code},
                #{xiache.modify_terminal},
                #{xiache.trace_status},
                #{xiache.io_type},
                '0',
                NULL,
                #{xiache.source_org_code},
                NULL,
                NULL,
                #{xiache.fee_weight},
                '0',
                '0',
                #{xiache.out_org_type},
                #{xiache.error_times},
                #{xiache.sn_no},
                #{xiache.occ_status},
                #{xiache.operate_time},
                #{xiache.data_id},
                #{xiache.error_message}
        )
    </insert>
    <insert id="handon">
        INSERT INTO express.t_exp_op_record_handon (
            id,
            waybill_no,
            exp_type,
            pkg_qty,
            emp_code,
            emp_name,
            handon_type,
            weigh_weight,
            volume_weight,
            fee_flag,
            fee_amt,
            org_code,
            frequency_no,
            handon_id,
            upload_time,
            op_code,
            aux_op_code,
            route_code,
            aux_route_code,
            status,
            transfer_status,
            create_time,
            create_user_code,
            create_user_name,
            create_org_code,
            create_terminal,
            device_type,
            remark,
            ref_id,
            modify_time,
            modify_user_code,
            modify_user_name,
            modify_org_code,
            modify_terminal,
            trace_status,
            container_no,
            previous_org_code,
            next_org_code,
            siginoff_op_code,
            siginoff_id,
            fst_success_siginoff,
            delivery_seq,
            query_flag,
            org_type,
            error_times,
            sn_no,
            occ_status,
            operate_time,
            data_id,
            error_message
        ) values (
            #{handon.id},
            #{handon.waybill_no},
            #{handon.exp_type},
            #{handon.pkg_qty},
            #{handon.op_user_code},
            #{handon.op_user_name},
            NULL,
            '0.000',
            '0.000',
            NULL,
            '0.000',
            #{handon.handon_org_code},
            'FC99999907',
            NULL,
            #{handon.upload_time},
            #{handon.op_code},
            #{handon.aux_op_code},
            #{handon.route_code},
            #{handon.aux_route_code},
            #{handon.status},
            NULL,
            #{handon.create_time},
            #{handon.op_user_code},
            #{handon.op_user_name},
            #{handon.handon_org_code},
            #{handon.create_terminal},
            #{handon.device_type},
            #{handon.remark},
            #{handon.ref_id},
            #{handon.modify_time},
            #{handon.op_user_code},
            #{handon.op_user_name},
            #{handon.handon_org_code},
            #{handon.modify_terminal},
            #{handon.trace_status},
            NULL,
            NULL,
            NULL,
            '0',
            NULL,
            NULL,
            '1',
            '0',
            'BRANCH',
            #{handon.error_times},
            #{handon.sn_no},
            #{handon.occ_status},
            #{handon.operate_time},
            #{handon.data_id},
            #{handon.error_message}
        )
    </insert>
    <insert id="signature">
        INSERT INTO express.t_exp_op_record_signature (
        	id,
            waybill_no,
            exp_type,
            pkg_qty,
            emp_code,
            emp_name,
            fee_flag,
            fee_amt,
            org_code,
            frequency_no,
            signoff_type_code,
            reciever_signoff,
            amount_collected,
            amount_agency,
            delivery_fail_reason_code,
            delivery_fail_reason,
            contact,
            contact_time,
            contact_result,
            upload_time,
            op_code,
            aux_op_code,
            route_code,
            aux_route_code,
            status,
            transfer_status,
            create_time,
            create_user_code,
            create_user_name,
            create_org_code,
            create_terminal,
            device_type,
            remark,
            ref_id,
            modify_time,
            modify_user_code,
            modify_user_name,
            modify_org_code,
            modify_terminal,
            trace_status,
            fst_success_siginoff,
            delivery_time,
            delivery_id,
            has_sign_name,
            has_sign_pic,
            query_flag,
            org_type,
            error_times,
            sn_no,
            occ_status,
            operate_time,
            data_id,
            error_message
        ) values (
        	#{signature.id},
            #{signature.waybill_no},
            #{signature.exp_type},
            #{signature.pkg_qty},
            #{signature.op_user_code},
            #{signature.op_user_name},
            #{signature.fee_flag},
            #{signature.fee_amt},
            #{signature.signature_org_code},
            NULL,
            'SELF',
            #{signature.signature_name},
            '0.00',
            '0.00',
            NULL,
            NULL,
            NULL,
            NULL,
            NULL,
            #{signature.upload_time},
            #{signature.op_code},
            #{signature.aux_op_code},
            #{signature.route_code},
            #{signature.aux_route_code},
            #{signature.status},
            #{signature.transfer_status},
            #{signature.create_time},
            #{signature.op_user_code},
            #{signature.op_user_name},
            #{signature.signature_org_code},
            #{signature.create_terminal},
            #{signature.device_type},
            #{signature.remark},
            #{signature.ref_id},
            #{signature.modify_time},
            #{signature.op_user_code},
            #{signature.op_user_name},
            #{signature.signature_org_code},
            #{signature.modify_terminal},
            #{signature.trace_status},
            '1',
            #{signature.delivery_time},
            #{signature.delivery_id},
            '0',
            '0',
            #{signature.query_flag},
            'BRANCH',
            #{signature.error_times},
            #{signature.sn_no},
            #{signature.occ_status},
            #{signature.operate_time},
            #{signature.data_id},
            #{signature.error_message}
        )
    </insert>
    <select id="checkHandon" resultType="Integer">
        SELECT COUNT(1) FROM t_exp_op_record_handon_deal
        WHERE waybill_no = #{waybill};
    </select>

    <select id="queryTaking" resultType="com.myproject.demo.entity.Express">
        select * from express.t_exp_op_record_taking where waybill_no = #{waybill_no}
    </select>
    <select id="queryTaking_unsuccess" resultType="com.myproject.demo.entity.Express">
        select * from express.t_exp_op_record_taking_unsuccess where waybill_no = #{waybill_no}
    </select>
    <select id="queryTaking_deal" resultType="com.myproject.demo.entity.Express">
        select * from express.t_exp_op_record_taking_deal where waybill_no = #{waybill_no}
    </select>

    <select id="queryHandon" resultType="com.myproject.demo.entity.Express">
        select * from express.t_exp_op_record_handon where waybill_no = #{waybill_no}
    </select>
    <select id="queryHandon_unsuccess" resultType="com.myproject.demo.entity.Express">
        select * from express.t_exp_op_record_handon_unsuccess where waybill_no = #{waybill_no}
    </select>
    <select id="queryHandon_deal" resultType="com.myproject.demo.entity.Express">
        select * from express.t_exp_op_record_handon_deal where waybill_no = #{waybill_no}
    </select>

    <select id="querySignature" resultType="com.myproject.demo.entity.Express">
        select * from express.t_exp_op_record_signature where waybill_no = #{waybill_no}
    </select>
    <select id="querySignature_unsuccess" resultType="com.myproject.demo.entity.Express">
        select * from express.t_exp_op_record_signature_unsuccess where waybill_no = #{waybill_no}
    </select>
    <select id="querySignature_deal" resultType="com.myproject.demo.entity.Express">
        select * from express.t_exp_op_record_signature_deal where waybill_no = #{waybill_no}
    </select>
</mapper>