<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>用户登陆</title>
    <link rel="stylesheet" href="layui/css/layui.css">
</head>
<style>
    .mybody{
        width: 500px;
        height: 600px;
        background-color: #d4efea;
        margin: 100px auto;
    }
    .mytitle{
        width: 80%;
        height: 120px;
        /*background-color: #bc3130;*/
        margin: 0 auto;
        padding: 0;
    }
    .myform{
        width: 80%;
        margin: 0 auto;
        /*background-color: #00FF00;*/
        padding: 0;
    }
    .myfoot{

    }
    body{
        background: url("img/picture6.jpg") no-repeat fixed;
        background-size: 100%;
    }
    p,h1{
        text-align: center;
        font-family: 微软雅黑;
        font-size: 30px;
        padding-top: 40px;
        line-height: 5px;
    }
    h1{
        font-size: 15px;
        font-weight: lighter;
        padding-top: 30px;
        color: gray;
    }
    .demo-slider{
        margin: 35px 2px 40px 10px;
    }
    .myregister{
        float: right;
        margin-right: 13px;
        margin-top: 5px;
        color: #86c967;
    }
</style>
<body>
<div class="mybody">
    <div class="mytitle">
        <p>网页版子系统登录</p>
        <h1>结算财务版V2.0</h1>
    </div>
    <div class="myform">
        <form class="layui-form layui-form-pane" action="">
            <div class="layui-form-item" pane>
                <label class="layui-form-label" style="width: 50px"><i class="layui-icon layui-icon-cellphone"></i></label>
                <div class="layui-input-block" style="background-color: white;margin-left: 50px">
                    <input type="text" name="phone" id="phone" placeholder="用户名"
                           autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item" pane>
                <label class="layui-form-label" style="width: 50px"><i class="layui-icon layui-icon-password"></i></label>
                <div class="layui-input-block" style="background-color: white;margin-left: 50px">
                    <input type="password" name="password" id="password"
                           placeholder="密码" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item" pane>
                <label class="layui-form-label" style="width: 50px"><i class="layui-icon layui-icon-vercode"></i></label>
                <div class="layui-input-block" style="background-color: white;margin-left: 50px">
                    <input type="text" id="demoReload" placeholder="请拖动下面滑块进行验证" autocomplete="off" class="layui-input"
                           readonly>
                </div>
            </div>
            <div class="layui-form-item">
                <div id="slideTest" class="demo-slider"></div>
            </div>
            <div class="layui-form-item" style="margin-bottom: 20px">
                <input type="checkbox" name="remember" id="remember" lay-skin="primary" title="保存">
                <div class="layui-unselect layui-form-checkbox" lay-skin="primary">
                    <span>保存</span>
                    <i class="layui-icon layui-icon-ok"></i>
                </div>
            </div>
            <div class="layui-form-item">
                <button class="layui-btn layui-btn-fluid layui-btn-disabled"
                        lay-filter="submitBtn" id="submitBtn" lay-submit disabled >LOGIN
                </button>
            </div>
            <div class="layui-form-item">
                <button class="layui-btn layui-btn-fluid"
                        lay-filter="fastBtn" lay-submit id="fastBtn">IP登录
                </button>
            </div>
        </form>
    </div>
    <div class="myfoot">

    </div>
</div>

<script src="layui/jquery-3.3.1.min.js"></script>
<script src="layui/layui.js"></script>
<script>
    layui.use(['form','layer','slider'],function () {
        let form = layui.form;
        let layer = layui.layer;
        let slider = layui.slider;
        let $ = layui.jquery;

        form.on('submit(submitBtn)',function (data) {
            $.ajax({
                data: JSON.stringify(data.field),
                type:'post',
                dataType:'text',
                contentType:'application/json;charset=UTF-8',
                url:'/Express/normalLogin',
                success:function (res) {
                    let resLogin = JSON.parse(res);
                    if (resLogin.code === '0'){
                        $(location).attr('href','/main');
                    }else{
                        layer.msg(resLogin.data[0].msg, {
                            icon:2,
                            time: 2000,
                            offset:['5%']
                        });
                    }
                },
                error:function (res) {
                    
                }
            });
            return false;
        });
        form.on('submit(fastBtn)',function (data) {
            $.ajax({
                data: '',
                type:'post',
                dataType:'text',
                contentType:'application/json;charset=UTF-8',
                url:'/Express/fastLogin',
                success:function (res) {
                    let resLogin = JSON.parse(res);
                    if (resLogin.code === '0'){
                        $(location).attr('href','/main');
                    }else{
                        layer.msg(resLogin.data[0].msg, {
                            icon:2,
                            time: 2000,
                            offset:['5%']
                        });
                    }
                },
                error:function (res) {
                }
            });
            return false;
        });

        //滑块验证随机数
        let temp = Math.random()*100;
        temp = Math.ceil(temp);
        slider.render({
            elem: '#slideTest'
            ,input: true //输入框
            ,change:function (value) {
                $('#demoReload').attr('placeholder','请将滑块拉动至'+ temp +'附近处');
                if (Math.abs(value-temp) < 5){
                    $('#submitBtn').removeClass('layui-btn-disabled');
                    document.all.submitBtn.disabled = false;
                }else{
                    $('#submitBtn').addClass('layui-btn-disabled');
                    document.all.submitBtn.disabled = true;
                }
            }
        });

    });
</script>
<script>
    (function(w, d, s, g, o) {
        var x = document.createElement(s)
            ,s = document.getElementsByTagName(s)[0];
        w[g] = o;
        x.async = true;
        x.charset = 'utf-8';
        x.src = 'https://cdn.xiankefu.com/dist/xiankefu.js';
        s.parentNode.insertBefore(x, s);
    })(window, document, 'script', 'XIANKEFU_GLOBAL', {
        bid: '49398e3e12f62553fc6d590172de7b6c'
    });
</script>
</body>
</html>