<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../layui/css/layui.css">
</head>
<body>
<button id="test" style="width: 100px;height: 50px;font-size: 1.2em">自动揽收</button>
<input type="text" id="waybill_no">
<script type="text/javascript" src="../layui/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../layui/layui.js"></script>
<script>
    layui.use(['table','layer','form'], function() {
        let form = layui.form;
        let table = layui.table;
        let layer = layui.layer;
        let $ = layui.jquery;
        let util = layui.util;

        $('#test').click(function () {
            $.ajax({
                url:'/Express/autoTakingZ',
                data:'',
                dataType: 'text',
                contentType:'application/json;charset=UTF-8',
                type:'post',
                success:function (data) {
                    $('#waybill_no').val(data);
                },
                error:function (data) {
                }
            });
        });
    });
</script>
</body>
</html>